.gallery {
    display: grid;
    /* Використовуємо grid для автоматичного розташування */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* Автоматично заповнюємо колонки */
    gap: 10px;
    /* Прогалини між картками */
    justify-items: stretch;
    /* Розтягуємо картки по ширині */
}

